section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco {
  width: 81.5%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

}

section .bloco .bloco-menu {
  padding-top: 1.5%;

  width: 13%;
  height: 90vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  border-right: 1px solid var(--border-gray);

}

section .bloco .bloco-menu .fixo {
  padding: 5% 0.5%;

  width: 90%;
  height: auto;

  font-size: 11px;

  color: var(--text-color-gray-post);

}

section .bloco .bloco-menu .botao-menu {
  margin-left: 15%;
  padding: 3.5% 4%;

  width: 75%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 13px;

  color: var(--text-color-gray-menu);

  transition: 0.2s ease-in-out;

  cursor: pointer;

}

section .bloco .bloco-menu .botao-menu:hover {
  color: var(--text-color-black-menu-hover);

}

/* CONFIGURACAO LISTA POSTAGENS */
section .bloco .bloco-lista-anotacao {
  width: 87%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  overflow-y: scroll;

}

section .bloco .bloco-lista-anotacao::-webkit-scrollbar {
  display: none;

}

section .bloco .bloco-lista-anotacao .bloco-lista {
  width: 100%;
  height: 92.5vh;

  overflow-y: scroll;

}

section .bloco .bloco-lista-anotacao .bloco-lista .header {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid var(--border-gray);

}

section .bloco .bloco-lista-anotacao .bloco-lista .header .perguntas {
  margin-top: 2vh;

  width: 95%;
  height: 18vh;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

section .bloco .bloco-lista-anotacao .bloco-lista .header .perguntas h1 {
  max-width: 75%;

  font-weight: 27px;
  font-weight: normal;

}

section .bloco .bloco-lista-anotacao .bloco-lista .header .perguntas h1 .descricao {
  width: 100%;
  height: auto;

  font-size: 13px !important;

  color: var(--text-color-gray-text-post);

}

section .bloco .bloco-lista-anotacao .bloco-lista .header .perguntas .botao {
  padding: 1% 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-blue);

  cursor: pointer;

  border-radius: 5px;

  font-size: 13px;

  color: var(--text-color-white);

  transition: background-color, 0.2s ease-in-out;

}

section .bloco .bloco-lista-anotacao .bloco-lista .header .perguntas .botao:hover {
  background-color: var(--background-color-blue-hover);

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista {
  padding: 1.5% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  border-bottom: 1px solid var(--border-gray);

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .status {
  width: 20%;
  height: auto;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .status .valor {
  padding: 2% 0%;

  width: 96%;
  height: auto;

  font-size: 13px;

  color: var(--text-color-gray-value);

  text-align: right;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .status .valor strong {
  color: var(--text-color-black-menu-hover);

  font-weight: normal;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta {
  padding: 0% 1% 1% 1%;

  width: 78%;
  height: auto;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .titulo {
  text-decoration: none;

  width: 100%;
  height: auto;

  font-size: 17px;

  color: var(--text-color-blue);

  cursor: pointer;

}

section .bloco .bloco-lista .lista .pergunta .criacao {
  margin-top: 0.5%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .categoria {
  padding: 0.5% 1%;

  background-color: var(--background-color-blue-categoria);

  font-size: 12px;

  color: var(--text-color-blue-categoria);

  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .img {
  width: 3%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .img img {
  width: 100%;
  height: auto;

  border-radius: 5px;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .nome-perfil {
  text-decoration: none;

  margin: 0% 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-color-blue);

  font-size: 12px;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .qtd-postagens {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;

  color: var(--text-color-gray-menu);

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .qtd-postagens strong {
  padding: 0% 0% 0% 10%;

  color: var(--text-color-gray-post);

  font-weight: normal;

}

section .bloco .bloco-lista-anotacao .bloco-lista .lista .pergunta .criacao .usuario .data {
  margin: 0% 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;

  color: var(--text-color-gray-post);

}

section .bloco .bloco-lista-anotacao .postar-postagem {
  margin-left: 2%;

  width: 93.5%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

section .bloco .bloco-lista-anotacao .postar-postagem .editar-conteudo {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

section .bloco .bloco-lista-anotacao .postar-postagem .editar-conteudo p {
  padding: 1% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 15px;
  font-weight: 500;

  color: var(--text-color-black-menu-hover);

}

section .bloco .bloco-lista-anotacao .postar-postagem .editar-conteudo input {
  width: 100%;
  height: auto;

  padding: 10px;
  margin: -1px 0 0;

  line-height: 1.3;

  font-size: 1.15384615rem;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  outline: none;

  border-radius: 3px;
  border: 1px solid var(--border-gray-textarea);

}

section .bloco .bloco-lista-anotacao .postar-postagem .editar-conteudo textarea {
  width: 100%;
  min-height: 30vh;

  padding: 10px;
  margin: -1px 0 0;

  line-height: 1.3;

  font-size: 1.15384615rem;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  outline: none;

  border-radius: 3px;
  border: 1px solid var(--border-gray-textarea);

}

section .bloco .bloco-lista-anotacao .postar-postagem .editar-conteudo .categoria {
  width: 100%;
  height: auto;

  padding: 10px;
  margin: -1px 0 0;

  line-height: 1.3;

  font-size: 1.15384615rem;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  outline: none;

  border-radius: 3px;
  border: 1px solid var(--border-gray-textarea);

}

section .bloco .bloco-lista-anotacao .postar-postagem .preview-conteudo {
  margin: 1% 0%;

  width: 100%;
  height: auto;

  font-size: 15px;

  color: var(--text-color-gray-text-post);

}

section .bloco .bloco-lista-anotacao .postar-postagem .botao {
  padding: 1% 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-blue);

  cursor: pointer;

  border-radius: 5px;

  font-size: 13px;

  color: var(--text-color-white);

  transition: background-color, 0.2s ease-in-out;

}

section .bloco .bloco-lista-anotacao .postar-postagem .botao:hover {
  background-color: var(--background-color-blue-hover);

}

section .bloco .bloco-lista-anotacao .anotacoes {
  margin-top: 1.4%;
  margin-left: 2%;

  width: 50%;
  height: auto;

  background-color: var(--background-color-anotacao-section);

  border: 1px solid var(--border-color-anotacao);
  border-radius: 3px;

}

section .bloco .bloco-lista-anotacao .anotacoes header {
  padding: 12px 15px;

  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 12px;
  font-weight: bold;

  color: var(--text-color-gray-menu);

  background-color: var(--background-color-anotacao-header);

  border-bottom: 1px solid var(--border-color-anotacao);
  border-radius: 3px 3px 0px 0px;

}

section .bloco .bloco-lista-anotacao .anotacoes section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: auto;
  height: auto;

}

section .bloco .bloco-lista-anotacao .anotacoes section .bloco-anotacao {
  padding: 2% 5% 0% 5%;

  width: 90%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  color: var(--text-color-gray-menu);

}

section .bloco .bloco-lista-anotacao .anotacoes section .bloco-anotacao .img {
  margin-right: 2%;

  width: 15px;
  height: auto;

}

section .bloco .bloco-lista-anotacao .anotacoes section .bloco-anotacao .img svg {
  width: 100%;
  height: auto;

  color: var(--background-color-blue-hover);

}

section .bloco .bloco-lista-anotacao .anotacoes section .bloco-anotacao p {
  font-size: 13px;

  color: var(--text-color-black-text-title-post);

}
